Bem-vindo(a)!
O que é?

A Que Planta nasceu da busca por uma vida mais harmônica com a natureza, afinal ela é capaz de nos prover em abundância se cooperarmos! Conhecer melhor as plantas torna-se então uma habilidade fundamental para essa integração e compartilhar esse conhecimento com todos, nossa missão. Coletivamente podemos ainda ampliar o número de plantas alimentícias nos ambientes públicos para termos cidades mais agradáveis, bonitas e produtivas.

Em nossa sede em Santa Bárbara - MG experimentamos como fazer floresta e viver com a ela de forma sustentável, compreendendo as dinâmicas das florestas.


Como funciona

Que Planta é uma comunidade 100% colaborativa, todo conteúdo é gerado pela comunidade.

Identifique plantas por fotos de forma colaborativa.

Encontre arvores em sua cidade.

Catalogue sua coleção.
Troque sementes com amigos.
