{% extends "emails/base.html" %}
{% load i18n %}
{% block body %}
  <div class="qp-body">
    <div class="qp-container">
      <h1 class="qp-h1">
        {% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
      </h1>
      <p>
        {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
      </p>
      <p>
        {% trans "Please go to the following page and choose a new password:" %}
      </p>
      <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="qp-btn">
          {% trans "password reset" %}
        </a>
      </p>
      <p>
        {% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
      </p>
      <p>
        {% trans "Thanks for using our site!" %}
      </p>
      <p>
        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock body %}