{% extends "emails/base.html" %}

{% block body %}
 <div class="qp-body">
  <div class="qp-container">
    <h1 class="qp-h1">Bem-vindo(a)!</h1>
    <h2 class="qp-h2">O que é?</h2>
    <p>
      A <strong>Que Planta</strong> nasceu de uma busca há uma vida mais harmônica, onde a natureza nos provê o alimento necessário o que leva a conhecer melhor as plantas e compartilhar disso com todos, principalmente se existe alimentos em vidas públicas.
    </p>
    <p>
      Em nossa sede em Santa Bárbara - MG experimentamos como fazer floresta e viver com a ela de forma sustentável, compreendendo as dinâmicas das florestas.
    </p>
    <h2 class="qp-h2">Como funciona</h2>
    <p>
      Que Planta é uma comunidade 100% colaborativa, todo conteúdo é gerado pela comunidade.
    </p>
    <p>
      <a href="/identificacao" class="qp-link">Identifique plantas por fotos de forma colaborativa.</a>
    </p>
    <p>
      <a href="/mapa" class="qp-link">Encontre arvores em sua cidade.</a>
    </p>
    <p>
      <a href="/como-funciona/catalogo-pessoal" class="qp-link">Catalogue sua coleção.</a>
    </p>
    <p>
      <a href="/feira" class="qp-link">Troque sementes com amigos.</a>
    </p>
  </div>
</div>
{% endblock body %}